@{
    this.ViewData["Title"] = "My Profile";
}
@*<style>
    .parent{
    position: sticky;
    width: 50%;
    height: 50%;
    }
    #contai {
    position: absolute;
    top: 42%;
    left: 45%;

    }
    .parent img {
    width: 300%;
    }*@
@*</style>*@
<div class="parrent container-fluid row">

    <div class="col-5 row offset-1 bg-info">
        <img src="~/images/logo image/IMG_1255.png" class="parent d-block w-100 h-100" alt="...">
    </div>

    <div class="col-5 row bg-info">
        <img src="~/images/logo image/IMG_1255.png" class="d-block w-100 h-100" alt="...">
    </div>
</div>
<div class="container-fluid row p-0  h-25">
    <div class="container-fluid border border-info col-10 d-inline-flex">
        <div class="col-1 row position-relative">
            <a class="nav-link text-dark rounded-circle d-inline-flex  p-0 m-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <img class="imga roundet-circle rounded-circle align-middle border-5 offset-4 p-0 m-0" src="/images/logo image/IMG_1255.png" width="120" height="120" asp-append-version="true">
            </a>
        </div>
        <div class="col-1 p-0 row position-absolute btn-warning">
            <a class="nav-link   d-inline-flex  p-0 m-0 " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="fas fa-camera  fa-2x   position-absolute p-0 btn-warning"></i>
            </a>
        </div>
        <div class="col-2 row p-3">
            <h5>@User.Identity.Name</h5>
            <h5>My PetsFriends</h5>
            <div class="col-1">
                <a class="nav-link text-dark rounded-circle d-inline-flex  p-0 m-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="imga roundet-circle rounded-circle align-middle border-5 offset-4 p-0 m-0" src="/images/logo image/IMG_1255.png" width="35" height="35" asp-append-version="true">
                </a>
            </div>
            <div class="col-1">
                <a class="nav-link text-dark rounded-circle d-inline-flex  p-0 m-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="imga roundet-circle rounded-circle align-middle border-5 offset-4 p-0 m-0" src="/images/logo image/IMG_1255.png" width="35" height="35" asp-append-version="true">
                </a>
            </div>
            <div class="col-1">
                <a class="nav-link text-dark rounded-circle d-inline-flex  p-0 m-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="imga roundet-circle rounded-circle align-middle border-5 offset-4 p-0 m-0" src="/images/logo image/IMG_1255.png" width="35" height="35" asp-append-version="true">
                </a>
            </div>
            <div class="col-1">
                <a class="nav-link text-dark rounded-circle d-inline-flex  p-0 m-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="imga roundet-circle rounded-circle align-middle border-5 offset-4 p-0 m-0" src="/images/logo image/IMG_1255.png" width="35" height="35" asp-append-version="true">
                </a>
            </div>
            <div class="col-1">
                <a class="nav-link text-dark rounded-circle d-inline-flex  p-0 m-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="imga roundet-circle rounded-circle align-middle border-5 offset-4 p-0 m-0" src="/images/logo image/IMG_1255.png" width="35" height="35" asp-append-version="true">
                </a>
            </div>
            <div class="col-1">
                <a class="nav-link text-dark rounded-circle d-inline-flex  p-0 m-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="imga roundet-circle rounded-circle align-middle border-5 offset-4 p-0 m-0" src="/images/logo image/IMG_1255.png" width="35" height="35" asp-append-version="true">
                </a>
            </div>
            @* <div class="col-1">
                <a class="nav-link text-dark rounded-circle d-inline-flex  p-0 m-0 btn-outline-info" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="fas fa-ellipsis-h fa-2x"></i>
                </a>
                </div>*@
        </div>
        @*<div class="col-1 offset-1">
            <img class="imga roundet-circle rounded-circle align-middle border-5 offset-4 p-0 m-0" src="/images/logo image/logo.png" width="125" height="125" asp-append-version="true">
            </div>
            <div class="col-1 offset-1">
            <img class="imga roundet-circle rounded-circle align-middle border-5 offset-4 p-0 m-0" src="/images/logo image/logo.png" width="105" height="105" asp-append-version="true">
            </div>
            <div class="col-1 offset-1">
            <img class="imga roundet-circle rounded-circle align-middle border-5 offset-4 p-0 m-0" src="/images/logo image/logo.png" width="85" height="85" asp-append-version="true">
            </div> <div class="col-1 offset-1">
            <img class="imga roundet-circle rounded-circle align-middle border-5 offset-4 p-0 m-0" src="/images/logo image/logo.png" width="65" height="65" asp-append-version="true">
            </div>*@
        <div class="col-1 offset-9 p-2">
            <img class="imga roundet-circle rounded-circle align-middle border-5 offset-4 p-0 m-0" src="/images/logo image/logo.png" width="45" height="45" asp-append-version="true">
        </div>
        <div class="col-4 row">
        </div>

    </div>
</div>
<div class="container p-5">
    <div class="card-group" style="overflow-y:auto">
        @*<div class="container" style='width:@(240)px;overflow-x:auto'>*@
        <div class="card ">
            <img src="/images/logo image/IMG_1255.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="/images/logo image/IMG_1255.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="/images/logo image/IMG_1255.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="/images/logo image/IMG_1255.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="/images/logo image/IMG_1255.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="/images/logo image/IMG_1255.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="/images/logo image/IMG_1255.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="row-cols-5">
    </div>
</div>


<div class="container p-lg-5 w-75">
    <div class="form-control navbar-collapse d-inline-flex h-100 rounded-pill">
        <a class="nav-link text-dark rounded-circle d-inline-flex" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="70" height="70" asp-append-version="true">
        </a>
        <form class="w-100" method="post">
            <button type="button" class=" form-control btn-outline-info text-center rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal" title="Create post">
                Tab here to create a post!
            </button>
        </form>
        <div class="modal fade" id="exampleModal" tabindex="-6" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header p-1 m-0">
                        <a class="nav-link text-dark rounded-circle d-inline-flex " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5 m-1" src="/images/logo image/IMG_1255.png" width="45" height="45" asp-append-version="true">
                            <p class="p-2 form-control">@User.Identity.Name</p>
                        </a>
                        <button type="button" class="btn-close form-control btn-outline-danger p-3" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="">
                        <textarea class="form-control" rows="6" placeholder="Mew Mew Bou Bou" id="floatingInput"></textarea>
                    </div>
                    <div class="modal-body form-control">
                        <a class="nav-link text-dark fas fa-file-image btn btn-warning " asp-area="" asp-controller="Home" asp-action="Index"></a>
                        <a class="nav-link text-dark fas fa-video btn btn-warning " asp-area="" asp-controller="Home" asp-action="Index"></a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p-lg-5 w-75 ">
    <div class="border border-secondary col-5 align-items-center ">
        <div class="col col w-100 text-center  p-2 ">
            <h3 class="text-center rounded-pill btn-light">Information About me</h3>
        </div>
        <div class="col w-100 text-center  p-2">
            <a class="nav-link text-dark rounded-pill border border-info btn-outline-warning" asp-area="" asp-controller="Home" asp-action="Index">
                <h5 class="text-center ">Information About me</h5>
            </a>
        </div>
        <div class="col w-100 align-content-center  p-2">
            <a class="nav-link text-dark rounded-pill border border-info btn-outline-warning" asp-area="" asp-controller="Home" asp-action="Index">
                <h5 class="text-center ">Information About me</h5>
            </a>
        </div> <div class="col w-100 align-content-center  p-2">
            <a class="nav-link text-dark rounded-pill border border-info btn-outline-warning" asp-area="" asp-controller="Home" asp-action="Index">
                <h5 class="text-center ">Information About me</h5>
            </a>
        </div> <div class="col w-100 align-content-center  p-2">
            <a class="nav-link text-dark rounded-pill border border-info btn-outline-warning" asp-area="" asp-controller="Home" asp-action="Index">
                <h5 class="text-center ">Information About me</h5>
            </a>
        </div>
    </div>
</div>