@model PetsFriends.Web.ViewModels.Post.CreatePostInputModel
@using PetsFriends.Common
@{
    this.ViewData["Title"] = "Create Post";
}


<div class="form-control navbar-collapse d-inline-flex  p-2 h-75 py-1 my-2 rounded-pill">
            <a class="nav-link text-dark rounded-circle d-inline-flex" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="45" height="45" asp-append-version="true">
            </a>
            <form class="w-100 rounded-pill" method="post">
                <button type="button" class=" form-control btn-outline-info  text-center rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal" title="Create post">
                    Tab here to create a post!
                </button>
            </form>
            <form  method="post" enctype="multipart/form-data">
            <div class="modal fade" id="exampleModal" tabindex="-6" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header p-1 m-0">
                            <a class="nav-link text-dark rounded-circle d-inline-flex " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        <img class="img roundet-circle rounded-circle align-middle border-5 m-1" src="/images/logo image/IMG_1255.png" width="45" height="45" asp-append-version="true">
                        <p class="p-2 form-control">@User.Identity.Name</p>
                             </a>
                            <button type="button" class="btn-close form-control btn-outline-danger p-3" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="">
                        <textarea asp-for="ContentPost" class="form-control" rows="6"  placeholder="Mew Mew Bou Bou" id="floatingInput"></textarea> 
                        </div>
                         <div class="modal-body form-control">
                             
                        <a class="nav-link text-dark fas fa-file-image btn btn-warning "><input type="file" asp-validation-for="Picture" class="text-danger"></input></a>
                        <a class="nav-link text-dark fas fa-video btn btn-warning " asp-area="" asp-controller="Home" asp-action="Index"></a>
                        </div> 
                        <div class="form-group">
                            <label asp-for="Pictures" class="form-control"></label>
                            <input type="file" id="files" asp-for="Pictures" />
                            <span asp-validation-for="Pictures" class="text-danger"></span>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Share</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
