@using PetsFriends.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
    
<div class="container-fluit row">
    <div class="col-2">
        <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
            The current button
        </button>
        <button type="button" class="list-group-item list-group-item-action">A second item</button>
        <button type="button" class="list-group-item list-group-item-action">A third button item</button>
        <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
        <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
    </div>
    <div class="col-6 offset-1">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <img src="~/images/logo image/IMG_1255.png" class="card-img-bottom" alt="...">
  <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary">Like</button>
  <button type="button" class="btn btn-primary">Comment</button>
  <button type="button" class="btn btn-primary">Share</button>
</div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <img src="~/images/logo image/IMG_1255.png" class="card-img-bottom" alt="...">
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <img src="~/images/logo image/IMG_1255.png" class="card-img-bottom" alt="...">
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <img src="~/images/logo image/IMG_1255.png" class="card-img-bottom" alt="...">
</div>
    </div>

    <div class="col-2 offset-1">
        <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
            The current button
        </button>
        <button type="button" class="list-group-item list-group-item-action">A second item</button>
        <button type="button" class="list-group-item list-group-item-action">A third button item</button>
        <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
        <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
    </div>
</div>


