@using PetsFriends.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
 <div class="container p-5">
<div class="container p-2">
</div>

<div class="container-fluit row d-flex ">
    <div class="col-2 w-25">
        <ul class="btn-info form-control-plaintext w-100">
        <button type="button" class="list-group-item list-group-item-action btn btn-info " aria-current="true">
            current button
        </button>
        <button type="button " class="list-group-item list-group-item-action btn-outline-info">A second item</button>
        <button type="button" class="list-group-item list-group-item-action btn-outline-info"> button item</button>
        <button type="button" class="list-group-item list-group-item-action btn-outline-info">button item</button>
        <button type="button" class="list-group-item list-group-item-action btn-outline-info">button item</button> 
       <div class="row-cols-10">
           <h5></h5>
       </div>
        <button type="button" class="list-group-item list-group-item-action btn btn-info" aria-current="true">
            The current button
        </button>
        <button type="button " class="list-group-item list-group-item-action btn-outline-info">A second item</button>
        <button type="button" class="list-group-item list-group-item-action btn-outline-info">A third button item</button>
        <button type="button" class="list-group-item list-group-item-action btn-outline-info">A fourth button item</button>
        <button type="button" class="list-group-item list-group-item-action btn-outline-info">A fourth button item</button>
    </ul>
    </div>
    <div class="col-6 offset-0 d-grid btn-info">
        <div class="form-control navbar-collapse d-inline-flex  p-2 h-100">
            <a class="nav-link text-dark rounded-circle d-inline-flex" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="45" height="45" asp-append-version="true">
            </a>
            <form class="w-100" method="post">
                <button type="button" class=" form-control btn-outline-info text-center" data-bs-toggle="modal" data-bs-target="#exampleModal" title="Create post">
                    Tab here to create a post!
                </button>
            </form>
            <div class="modal fade" id="exampleModal" tabindex="-6" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header p-1 m-0">
                            <a class="nav-link text-dark rounded-circle d-inline-flex " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        <img class="img roundet-circle rounded-circle align-middle border-5 m-1" src="/images/logo image/IMG_1255.png" width="45" height="45" asp-append-version="true">
                        <p class="p-2 form-control">@User.Identity.Name</p>
                             </a>
                            <button type="button" class="btn-close form-control btn-outline-danger p-3" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="">
                        <textarea class="form-control" rows="6"  placeholder="Mew Mew Bou Bou" id="floatingInput"></textarea> 
                        </div>
                         <div class="modal-body form-control">
                        <a class="nav-link text-dark fas fa-file-image btn btn-warning " asp-area="" asp-controller="Home" asp-action="Index"></a>
                        <a class="nav-link text-dark fas fa-video btn btn-warning " asp-area="" asp-controller="Home" asp-action="Index"></a>
                        </div> 
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="d-inline-flex">
                    <a class="nav-link text-dark rounded-circle d-inline-flex " asp-area="" asp-controller="Profile" asp-action="MyProfile" title="Profile">
                        <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="45" height="45" asp-append-version="true">
                        <p class="p-2">@User.Identity.Name</p>
                    </a>
                </div>
                @*<h5 class="card-title">Card title</h5>*@
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text m-0"><small class="text-muted">3 mins ago</small></p>
            </div>
            <a asp-area="Identity" asp-page="/MyProfile" title="MyProfgile">
            <img src="~/images/logo image/IMG_1255.png" class="card-img-bottom" alt="...">
            </a>
           
            <div class="btn-group p-0" role="group" aria-label="Basic example">
                <button type="button" class="btn  btn-outline-info fas fa-paw p-2"> Like</button>
                <button type="button" class="btn  btn-outline-info fas fa-bone p-2"> Comment</button>
                <button type="button" class="btn  btn-outline-info fas fa-frog p-2"> Share</button>
            </div>
             <div class="d-inline-flex form-control p-1 btn-outline-secondary">
                    <i class="m-0 col-1"></i>
                    <i class="fas fa-paw m-0 col-4 warning"> 2000 Paws</i>
                    <i class="fas fa-bone m-0  col-4"> 1000 Baw Baws</i>
                 <i class="fas fa-frog m-0  col-3"> 100000 Shares</i>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <img src="~/images/logo image/IMG_1255.png" class="card-img-bottom" alt="...">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <img src="~/images/logo image/IMG_1255.png" class="card-img-bottom" alt="...">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <img src="~/images/logo image/IMG_1255.png" class="card-img-bottom" alt="...">
        </div>
    </div>

    <div class="col-2 offset-0 w-25">
        <ul class="btn-info form-control-plaintext">
        <button type="button" class=" btn btn-info list-group-item list-group-item-action" aria-current="true">
            The current button
        </button>
        <button type="button" class="list-group-item list-group-item-action btn-outline-info">A second item</button>
        <button type="button" class="list-group-item list-group-item-action btn-outline-info">A third button item</button>
        <button type="button" class="list-group-item list-group-item-action btn-outline-info">A fourth button item</button>
        <button type="button" class="list-group-item list-group-item-action btn-outline-info">A fourth button item</button>
        </ul>
    </div>
</div>
</div>


