@using PetsFriends.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<div class="container-fluit  row">
    <div class="col-2">
        <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
            The current button
        </button>
        <button type="button" class="list-group-item list-group-item-action">A second item</button>
        <button type="button" class="list-group-item list-group-item-action">A third button item</button>
        <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
        <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
    </div>
    <div class="col-6 offset-1">
        <ul>
            <li>
                say something
                say something
                say something
                say something
                say something
                say something
                say something
                say something
                say something
                say something
                say something
                say something
                say something
                say something
                say something
                say something
                say something
            </li>
        </ul>
    </div>

    <div class="col-2 offset-1">
        <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
            The current button
        </button>
        <button type="button" class="list-group-item list-group-item-action">A second item</button>
        <button type="button" class="list-group-item list-group-item-action">A third button item</button>
        <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
        <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
    </div>
</div>


